---
# Task taken from https://docs.ansible.com/ansible/latest/collections/ansible/builtin/apt_module.html
#
- hosts: all
  become: true
  tasks:
  - name: Update all packages to their latest version
    apt:
      autoclean: yes
      autoremove: yes
      name: "*"
      state: latest
      update_cache: yes
      cache_valid_time: 3600
  
  - name: Check if reboot is required
    stat:
      path: /var/run/reboot-required
    register: reboot_required

  - name: Reboot system if required
    reboot:
      msg: Rebooting to complete system upgrade
      reboot_timeout: 120
    when: reboot_required.stat.exists

