---
# Task taken from https://docs.ansible.com/ansible/latest/collections/ansible/builtin/apt_module.html
#
- hosts: all
  become: true
  tasks:
  - name: Update all packages to their latest version
    apt:
      name: "*"
      state: latest
